.env
*.key
*.pem
*.pub
authorized_keys
known_hosts
credentials.json
secrets.json
__pycache__/
*.pyc
.bash_history
.bashrc
.cache/
.config/
.gitconfig
.lesshst
.ssh/
storage/
gitbackup
*_STATE.json
*_STATS.txt
*_TARGETS.txt
*_TRADES.txt

.npm/
.termux/
*.save
